@charset "utf-8";

.css-q5gx77-LoginButtonsWrapper-LoginButtonsWrapper-LoginButtonsWrapper { position: absolute; top: 10px; right: 10px; background-color: var(--color-white); }

@media only screen and (min-width: 0px) and (max-width: 639px) {
  .css-q5gx77-LoginButtonsWrapper-LoginButtonsWrapper-LoginButtonsWrapper { display: none; }
}

@media only screen and (min-width: 640px) and (max-width: 979px) {
  .css-q5gx77-LoginButtonsWrapper-LoginButtonsWrapper-LoginButtonsWrapper { display: none; }
}