@charset "utf-8";

.css-1o5juw9-ChevronDown { color: rgb(153, 153, 153); position: absolute; right: 4px; top: 17px; transition: 0.15s; transform: none; }

[data-nav-section-active="true"] .css-1o5juw9-ChevronDown { transform: rotate(-180deg); }