@charset "utf-8";

.css-1lroi2t { display: grid; grid-template-columns: 1fr auto 1fr; grid-template-rows: auto; grid-template-areas: "top top top" "below-top below-top below-top" "main main main" "footer footer footer"; --scrollbar-width: 0px; --article-direction: ltr; --slimlineheader-height: 54px; }

@media (max-width: 639px) {
  .css-1lroi2t { grid-template-columns: 0px 1fr 0px; }
}

@media print {
  .css-1lroi2t { display: block; }
  .css-1lroi2t [data-block="doNotPrint"] { display: none; }
  .css-1lroi2t [data-type="image"] { margin-left: 0px; }
  .css-1lroi2t .paywall { display: block; }
}

@supports (animation-timeline:view()) {
  .css-1lroi2t { timeline-scope: --main-scroll-tracker; }
}