@charset "utf-8";

.css-15yf0dn { margin-block-end: 32px; }

@media screen and (max-width: 639px) {
  .css-15yf0dn { text-align: center; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-15yf0dn { text-align: center; width: 620px; }
}

@media screen and (min-width: 980px) {
  .css-15yf0dn { text-align: center; width: 780px; }
}

@media screen and (max-width: 639px) {
  .css-15yf0dn { margin-inline: 20px; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-15yf0dn { margin-inline: 0px; }
}

@media screen and (min-width: 980px) {
  .css-15yf0dn { margin-inline: 0px; }
}