@charset "utf-8";

.css-to2tbw-MainStack { display: flex; height: 100%; -webkit-box-align: center; align-items: center; flex-direction: row; padding-block: 4px; min-width: 0px; }

@media screen and (max-width: 639px) {
  .css-to2tbw-MainStack { -webkit-box-pack: justify; justify-content: space-between; }
}

@media screen and (min-width: 640px) {
  .css-to2tbw-MainStack { -webkit-box-pack: start; justify-content: flex-start; }
}

@media screen and (max-width: 639px) {
  .css-to2tbw-MainStack { padding-inline: 8px; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-to2tbw-MainStack { padding-inline: 8px; }
}

@media screen and (min-width: 980px) {
  .css-to2tbw-MainStack { padding-inline: 8px; }
}

.css-to2tbw-MainStack :is(button, a) > * { pointer-events: none; }

.css-to2tbw-MainStack:has(:focus-visible) { outline: rgb(10, 102, 216) solid 3px; outline-offset: 1px; }

.css-to2tbw-MainStack > * { min-width: 0px; flex-shrink: 1; }