@charset "utf-8";

.css-wuv2zf { display: inline-block; color: var(--color-interactiveLink010); text-decoration: none; margin-inline-end: 24px; }

@media screen and (prefers-reduced-motion: no-preference) {
  .css-wuv2zf { transition-property: color, fill; transition-duration: 200ms, 200ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1), cubic-bezier(0, 0, 0.5, 1); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .css-wuv2zf { transition-property: color, fill; transition-duration: 0ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1), cubic-bezier(0, 0, 0.5, 1); }
}

.css-wuv2zf svg { fill: var(--color-interactiveLink010); }

.css-wuv2zf:hover:not(:disabled) { color: var(--color-interactiveLink020); text-decoration: underline; }

.css-wuv2zf:hover:not(:disabled) svg { fill: var(--color-interactiveLink020); }

.css-wuv2zf:active:not(:disabled) { color: var(--color-interactiveLink030); text-decoration: underline; }

.css-wuv2zf:active:not(:disabled) svg { fill: var(--color-interactiveLink030); }

.css-wuv2zf:focus-visible:not(:disabled) { outline-color: var(--outlineColorDefault); outline-style: var(--outlineStyleDefault); outline-width: var(--outlineWidthDefault); outline-offset: var(--outlineOffsetDefault); }

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
  .css-wuv2zf:focus-visible:not(:disabled) { outline-style: var(--safariOutlineStyleDefault); }
}
}