@charset "utf-8";

.css-hxvu4g-TextTruncate { margin: 0px; font-family: Retina, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.14286; font-weight: 400; letter-spacing: 0px; font-style: normal; text-transform: none; font-stretch: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.css-hxvu4g-TextTruncate fontmetrics { }