@charset "utf-8";

.css-1673h6a-DekBlock { margin: 0px min(10%, 5px); }

@media print {
  .css-1673h6a-DekBlock { color: rgb(17, 17, 17); text-align: left; margin-top: -18px; font-family: Poppins, sans-serif; font-size: 18px; line-height: 1.5; }
}