@charset "utf-8";

@font-face { font-family: Heebo; font-style: normal; font-weight: 400; font-display: swap; src: url("https://fonts.gstatic.com/l/font?kit=NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSycd0Onz0yaXTxzj4VdfaT9bft_X6awjJViB9a0jv-iR4lJO3BMzVG7Dm4Jd03i&skey=878db4aed11f133b&v=v26") format("woff2"); }

@font-face { font-family: Heebo; font-style: normal; font-weight: 700; font-display: swap; src: url("https://fonts.gstatic.com/l/font?kit=NGSpv5_NC0k9P_v6ZUCbLRAHxK1Ebiucd0Onz0yaXTxzj4VdfaT9bft_X6awjJViB9a0jv-iR4lJO3BMzVG7Dm4Jd03i&skey=878db4aed11f133b&v=v26") format("woff2"); }