@charset "utf-8";

.css-fb9r2w { margin: 0px; font-family: "Retina Narrow", Arial, Helvetica, sans-serif; font-size: 13px; line-height: 17.3333px; font-weight: 500; letter-spacing: 0.806px; font-style: normal; text-transform: uppercase; font-stretch: normal; padding: 0.5px 0px; display: block; }

.css-fb9r2w::before { content: ""; margin-bottom: -0.2667em; display: block; }

.css-fb9r2w::after { content: ""; margin-top: -0.3667em; display: block; }