@charset "utf-8";

.css-vxzn37-StandaloneL1Button { color: inherit; text-decoration: none; text-transform: inherit; }

.css-vxzn37-StandaloneL1Button:hover, .css-vxzn37-StandaloneL1Button:visited, .css-vxzn37-StandaloneL1Button:active { color: inherit; text-decoration: none; text-transform: inherit; }