@charset "utf-8";

.css-p14k17-MastHeadContainer { display: flex; flex-direction: column; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; -webkit-box-flex: 1; flex-grow: 1; position: relative; padding: 8px 0px; }