@charset "utf-8";

.css-1cq55yv-SpacedGridItem { align-self: center; grid-row: 1; padding-block: 4px 8px; }

@media screen and (max-width: 639px) {
  .css-1cq55yv-SpacedGridItem { justify-self: center; }
}

@media screen and (min-width: 640px) {
  .css-1cq55yv-SpacedGridItem { justify-self: end; }
}

@media screen and (max-width: 639px) {
  .css-1cq55yv-SpacedGridItem { grid-column: 1; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-1cq55yv-SpacedGridItem { grid-column: 2; }
}

@media screen and (min-width: 980px) {
  .css-1cq55yv-SpacedGridItem { grid-column: 3; }
}