@charset "utf-8";

.css-ifyz86-UtilityBarBase-UtilityBarWrapper { width: 100%; background-color: rgba(0, 0, 0, 0); }

@media (min-width: 640px) {
  .css-ifyz86-UtilityBarBase-UtilityBarWrapper { background-color: rgb(255, 255, 255); }
}

@media screen and (max-width: 639px) {
  .css-ifyz86-UtilityBarBase-UtilityBarWrapper { width: 100%; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-ifyz86-UtilityBarBase-UtilityBarWrapper { width: 620px; }
}

@media screen and (min-width: 980px) and (max-width: 1299px) {
  .css-ifyz86-UtilityBarBase-UtilityBarWrapper { width: 620px; }
}

@media screen and (min-width: 1300px) {
  .css-ifyz86-UtilityBarBase-UtilityBarWrapper { width: 700px; }
}