@charset "utf-8";

.css-1aart6z { grid-area: wtrn; }

@media (max-width: 639px) {
  .css-1aart6z { max-width: calc(100vw - calc(var(--scrollbar-width) / 2)); }
}

@media (min-width: 980px) {
  .css-1aart6z { margin: 0px; }
}

@media (min-width: 1300px) {
  .css-1aart6z { margin: 0px 80px; }
}