@charset "utf-8";

.css-1xtnhpp { fill: var(--color-inkBase); vertical-align: unset; display: inline-block; }

@media screen and (prefers-reduced-motion: no-preference) {
  .css-1xtnhpp { transition-property: fill; transition-duration: 200ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .css-1xtnhpp { transition-property: fill; transition-duration: 0ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}

.css-1xtnhpp.css-1xtnhpp { width: 24px; height: 24px; }