@charset "utf-8";

.css-4nm965-AuthoringContainer { display: flex; height: auto; align-items: flex-start; flex-direction: row; -webkit-box-pack: start; justify-content: flex-start; margin-left: calc(-8px); margin-right: calc(-8px); width: 100%; }

.css-4nm965-AuthoringContainer picture { width: auto; }