@charset "utf-8";

.css-14603vw-CaptionContainer { color: var(--secondary-text-color); font-family: var(--article-caption-font-family); font-weight: var(--font-weight-light); font-size: calc((13 / var(--article-base-font-size)) * var(--article-text-size-scale) * 1rem); line-height: calc(1.23077); margin-top: 7px; }