@charset "utf-8";

.css-1mamre9 { margin: 0px; font-family: Retina, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; font-weight: 350; letter-spacing: 0px; font-style: normal; text-transform: none; font-stretch: normal; padding: 0.5px 0px; margin-inline: 0px; }

.css-1mamre9::before { content: ""; margin-bottom: -0.2667em; display: block; }

.css-1mamre9::after { content: ""; margin-top: -0.3667em; display: block; }