@charset "utf-8";

.css-d6m7gx-List { list-style-type: none; margin: 0px; padding: 0px; display: flex; -webkit-box-align: center; align-items: center; flex-wrap: nowrap; -webkit-box-pack: center; justify-content: center; }