@charset "utf-8";

.css-1sku87d { grid-area: article-body; }

@media (max-width: 639px) {
  .css-1sku87d { max-width: calc(100vw - calc(var(--scrollbar-width) / 2)); }
}

@media (min-width: 1300px) {
  .css-1sku87d { margin: 0px 80px; }
}

.css-1sku87d .adWrapper { -webkit-box-pack: center; justify-content: center; display: flex; flex-direction: column; }