@charset "utf-8";

.css-14olaju { grid-area: realtor; margin: 20px 0px; }

@media (max-width: 639px) {
  .css-14olaju { max-width: calc(100vw - calc(var(--scrollbar-width) / 2)); }
}

@media (min-width: 1300px) {
  .css-14olaju { margin: 20px 80px; }
}