@charset "utf-8";

.css-mgqv52 { grid-area: buyside; }

@media (max-width: 639px) {
  .css-mgqv52 { max-width: calc(100vw - calc(var(--scrollbar-width) / 2)); }
}

@media (min-width: 980px) {
  .css-mgqv52 { margin: 0px; }
}

@media (min-width: 1300px) {
  .css-mgqv52 { margin: 0px 80px; }
}