@charset "utf-8";

.css-1qxi15b-DekWrapper { text-align: center; }

@media screen and (max-width: 639px) {
  .css-1qxi15b-DekWrapper { width: 100%; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-1qxi15b-DekWrapper { width: 620px; }
}

@media screen and (min-width: 980px) and (max-width: 1299px) {
  .css-1qxi15b-DekWrapper { width: 620px; }
}

@media screen and (min-width: 1300px) {
  .css-1qxi15b-DekWrapper { width: 700px; }
}