@charset "utf-8";

.css-13hol1o-SectionBlock { position: relative; }

@media screen {
  .css-13hol1o-SectionBlock { margin-block-start: 24px; }
}

@media screen and (max-width: 374px) {
  .css-13hol1o-SectionBlock { margin-block-end: 12px; }
}

@media screen and (min-width: 375px) and (max-width: 639px) {
  .css-13hol1o-SectionBlock { margin-block-end: 0px; }
}

@media screen and (min-width: 640px) {
  .css-13hol1o-SectionBlock { margin-block-end: 0px; }
}