@charset "utf-8";

.css-1jhw7cd-NavGrid { margin: 0px; padding: 0px; display: grid; position: fixed; height: 53px; border-block-end: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); inset: 0px 0px auto; }

@media screen and (max-width: 639px) {
  .css-1jhw7cd-NavGrid { grid-template-columns: auto; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-1jhw7cd-NavGrid { grid-template-columns: auto auto; }
}

@media screen and (min-width: 980px) {
  .css-1jhw7cd-NavGrid { grid-template-columns: auto minmax(200px, 1fr) auto; }
}

@supports not (inset: 0 0 auto) {
  .css-1jhw7cd-NavGrid { top: 0px; left: 0px; right: 0px; }
}