@charset "utf-8";

.css-dw1fw9 { fill: var(--color-inkBase); vertical-align: unset; display: inline-block; }

@media screen and (prefers-reduced-motion: no-preference) {
  .css-dw1fw9 { transition-property: fill; transition-duration: 200ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .css-dw1fw9 { transition-property: fill; transition-duration: 0ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}