@charset "utf-8";

.css-d0p1bh { width: 100%; grid-area: below-top; }

@media screen and (max-width: 374px) {
  .css-d0p1bh { margin-block-end: 12px; }
}

@media screen and (min-width: 375px) {
  .css-d0p1bh { margin-block-end: 24px; }
}