@charset "utf-8";

.css-cgpqvp-SectionsList-SectionsList-SectionsList { margin: 15px auto; padding: 0px; }

.css-cgpqvp-SectionsList-SectionsList-SectionsList > li[data-accordion="true"] { list-style: none; }

.css-cgpqvp-SectionsList-SectionsList-SectionsList > li[data-accordion="true"] ~ li[data-accordion="true"] div { border-top-width: 1px; border-top-style: solid; border-color: var(--color-silver); }

[data-nav-dark="true"] .css-cgpqvp-SectionsList-SectionsList-SectionsList > li[data-accordion="true"] ~ li[data-accordion="true"] div { border-color: var(--color-nickel); }

@media only screen and (min-width: 980px) and (max-width: 1299px) {
  .css-cgpqvp-SectionsList-SectionsList-SectionsList { max-width: 512px; }
}

@media only screen and (min-width: 1300px) {
  .css-cgpqvp-SectionsList-SectionsList-SectionsList { max-width: 512px; }
}