@charset "utf-8";

.css-knd5i0-SquareButton { box-sizing: border-box; text-decoration: none; min-height: auto; min-width: 64px; overflow: hidden; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; appearance: none; cursor: pointer; border-radius: 2px; }

.css-knd5i0-SquareButton svg { width: 16px; height: 16px; }

@media screen and (max-width: 639px) {
  .css-knd5i0-SquareButton { background-color: var(--color-transparent); border-radius: var(--borderRadiusDefault); color: var(--color-inkSubtle); }
  .css-knd5i0-SquareButton svg { fill: var(--color-inkSubtle); }
  .css-knd5i0-SquareButton:hover:not(:disabled) { background-color: var(--color-interactiveSecondary010); }
  .css-knd5i0-SquareButton:active:not(:disabled) { background-color: var(--color-interactiveSecondary020); }
  .css-knd5i0-SquareButton:disabled { color: var(--color-inkNonEssential); }
  .css-knd5i0-SquareButton:disabled svg { fill: var(--color-inkNonEssential); }
  .css-knd5i0-SquareButton:focus-visible:not(:disabled) { outline-color: var(--outlineColorDefault); outline-style: var(--outlineStyleDefault); outline-width: var(--outlineWidthDefault); outline-offset: var(--outlineOffsetDefault); }
  @media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
  .css-knd5i0-SquareButton:focus-visible:not(:disabled) { outline-style: var(--safariOutlineStyleDefault); }
}
}
}

@media screen and (min-width: 640px) {
  .css-knd5i0-SquareButton { background-color: var(--color-transparent); border-radius: var(--borderRadiusDefault); color: var(--color-inkSubtle); }
  .css-knd5i0-SquareButton svg { fill: var(--color-inkSubtle); }
  .css-knd5i0-SquareButton:hover:not(:disabled) { background-color: var(--color-interactiveSecondary010); }
  .css-knd5i0-SquareButton:active:not(:disabled) { background-color: var(--color-interactiveSecondary020); }
  .css-knd5i0-SquareButton:disabled { color: var(--color-inkNonEssential); }
  .css-knd5i0-SquareButton:disabled svg { fill: var(--color-inkNonEssential); }
  .css-knd5i0-SquareButton:focus-visible:not(:disabled) { outline-color: var(--outlineColorDefault); outline-style: var(--outlineStyleDefault); outline-width: var(--outlineWidthDefault); outline-offset: var(--outlineOffsetDefault); }
  @media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
  .css-knd5i0-SquareButton:focus-visible:not(:disabled) { outline-style: var(--safariOutlineStyleDefault); }
}
}
}

@media screen and (prefers-reduced-motion: no-preference) {
  .css-knd5i0-SquareButton { transition-property: background-color; transition-duration: 200ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .css-knd5i0-SquareButton { transition-property: background-color; transition-duration: 0ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}