@charset "utf-8";

@media print {
  .css-erm438-HeadlineBlock { color: rgb(17, 17, 17); margin-top: 8px; font-family: "DM Sans", sans-serif; font-weight: 700; font-size: 32px; line-height: 1.125; }
}