@charset "utf-8";

.css-pqzzby { display: flex; height: 100%; -webkit-box-align: center; align-items: center; flex-direction: row; -webkit-box-pack: start; justify-content: flex-start; margin-left: calc(-2px); margin-right: calc(-2px); }