@charset "utf-8";

.css-1y23mou-AuthorLink { display: inline-block; color: var(--color-inkBase); text-decoration: underline; }

@media screen and (prefers-reduced-motion: no-preference) {
  .css-1y23mou-AuthorLink { transition-property: color, fill; transition-duration: 200ms, 200ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1), cubic-bezier(0, 0, 0.5, 1); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .css-1y23mou-AuthorLink { transition-property: color, fill; transition-duration: 0ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1), cubic-bezier(0, 0, 0.5, 1); }
}

.css-1y23mou-AuthorLink svg { fill: rgb(1, 84, 131); }

.css-1y23mou-AuthorLink.css-1y23mou-AuthorLink:any-link { color: var(--color-inkBase, inkBase); }

.css-1y23mou-AuthorLink.css-1y23mou-AuthorLink:any-link:hover { text-decoration: none; color: rgb(111, 111, 111); }

.css-1y23mou-AuthorLink.css-1y23mou-AuthorLink:any-link:active { color: rgb(204, 204, 204); text-decoration: underline; }