@charset "utf-8";

.css-13cfipy { display: flex; height: 100%; align-items: flex-start; flex-direction: column; -webkit-box-pack: start; justify-content: flex-start; }

@media screen and (max-width: 639px) {
  .css-13cfipy { margin-block-end: 20px; }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .css-13cfipy { margin-block-end: 24px; }
}

@media screen and (min-width: 980px) {
  .css-13cfipy { margin-block-end: 24px; }
}