@charset "utf-8";

.css-1v09bjp-StyledBox { width: 100%; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; background-color: var(--color-white); }