@charset "utf-8";

@font-face { font-family: Retina; src: url("https://www.wsj.com/fonts/woffs/retina/Retina-Book.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: fallback; }

@font-face { font-family: Retina; src: url("https://www.wsj.com/fonts/woffs/retina/Retina-BookItalic.woff2") format("woff2"); font-style: italic; font-weight: 400; font-display: fallback; }

@font-face { font-family: Retina; src: url("https://www.wsj.com/fonts/woffs/retina/Retina-Light.woff2") format("woff2"); font-style: normal; font-weight: 300; font-display: fallback; }

@font-face { font-family: Retina; src: url("https://www.wsj.com/fonts/woffs/retina/Retina-LightItalic.woff2") format("woff2"); font-style: italic; font-weight: 300; font-display: fallback; }

@font-face { font-family: Retina; src: url("https://www.wsj.com/fonts/woffs/retina/Retina-Medium.woff2") format("woff2"); font-style: normal; font-weight: 500; font-display: fallback; }

@font-face { font-family: Retina; src: url("https://www.wsj.com/fonts/woffs/retina/Retina-MediumItalic.woff2") format("woff2"); font-style: italic; font-weight: 500; font-display: fallback; }

@font-face { font-family: "Retina Condensed"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaCondensed-Medium.woff2") format("woff2"); font-style: normal; font-weight: 500; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Light.woff2") format("woff2"); font-style: normal; font-weight: 300; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-LightItalic.woff2") format("woff2"); font-style: italic; font-weight: 300; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Book.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-BookItalic.woff2") format("woff2"); font-style: italic; font-weight: 400; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Medium.woff2") format("woff2"); font-style: normal; font-weight: 500; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-MediumItalic.woff2") format("woff2"); font-style: italic; font-weight: 500; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-Bold.woff2") format("woff2"); font-style: normal; font-weight: 700; font-display: fallback; }

@font-face { font-family: "Retina Narrow"; src: url("https://www.wsj.com/fonts/woffs/retina/RetinaNarr-BoldItalic.woff2") format("woff2"); font-style: italic; font-weight: 700; font-display: fallback; }

@font-face { font-family: "Escrow Condensed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Bold.woff2") format("woff2"); font-style: normal; font-weight: 700; font-display: fallback; }

@font-face { font-family: "Escrow Condensed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Bold+Italic.woff2") format("woff2"); font-style: italic; font-weight: 700; font-display: fallback; }

@font-face { font-family: "Escrow Condensed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Roman.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: fallback; }

@font-face { font-family: "Escrow Condensed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Light.woff2") format("woff2"); font-style: normal; font-weight: 300; font-display: fallback; }

@font-face { font-family: "Escrow Condensed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Condensed+Italic.woff2") format("woff2"); font-style: italic; font-weight: 400; font-display: fallback; }

@font-face { font-family: "Escrow Compressed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Compressed+Bold.woff2") format("woff2"); font-style: normal; font-weight: 700; font-display: fallback; }

@font-face { font-family: "Escrow Compressed"; src: url("https://www.wsj.com/fonts/woffs/escrow/Escrow+Display+Compressed+Black.woff2") format("woff2"); font-style: normal; font-weight: 900; font-display: fallback; }

@font-face { font-family: Exchange; src: url("https://www.wsj.com/fonts/woffs/exchange/Exchange-Book.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: fallback; }

@font-face { font-family: Exchange; src: url("https://www.wsj.com/fonts/woffs/exchange/Exchange-BookItalic.woff2") format("woff2"); font-style: italic; font-weight: 400; font-display: fallback; }

@font-face { font-family: Exchange; src: url("https://www.wsj.com/fonts/woffs/exchange/Exchange-Medium.woff2") format("woff2"); font-style: normal; font-weight: 500; font-display: fallback; }

@font-face { font-family: Exchange; src: url("https://www.wsj.com/fonts/woffs/exchange/Exchange-MediumItalic.woff2") format("woff2"); font-style: italic; font-weight: 500; font-display: fallback; }