@charset "utf-8";

.css-14zqvv1-LoginButtonsWrapper-LoginButtonsWrapper-LoginButtonsWrapper { display: flex; -webkit-box-pack: center; justify-content: center; background-color: var(--color-white); width: 100%; margin: 0px auto; padding: 6px 0px; }

@media only screen and (min-width: 980px) and (max-width: 1299px) {
  .css-14zqvv1-LoginButtonsWrapper-LoginButtonsWrapper-LoginButtonsWrapper { display: none; }
}

@media only screen and (min-width: 1300px) {
  .css-14zqvv1-LoginButtonsWrapper-LoginButtonsWrapper-LoginButtonsWrapper { display: none; }
}