@charset "utf-8";

.origami-wrapper * { margin: 0px; padding: 0px; border: 0px; }

.origami-wrapper { background: var(--primary-background-color); }

.origami-top-border { border-top: 1px solid rgb(218, 218, 218); padding-top: 10px; }

.origami-headline { font-family: Retina, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 500; color: var(--primary-text-color,#333); font-size: 18px; line-height: 20px; margin-bottom: 8px; }

.origami-item-wrapper { display: flex; margin-bottom: 10px; gap: 10px; }

.origami-item-wrapper:last-of-type { margin-bottom: 8px; }

.origami-item { flex: 1 1 0%; }

.origami-item img { max-width: 100%; width: 100%; height: 100%; display: block; max-inline-size: 100%; }

.origami-item video { max-width: 100%; width: 100%; display: block; }

.origami-item figcaption { display: none; }

[data-layout="edgetoedge"] .origami-grouped-caption-wrapper, [data-layout="edgetoedge"] .origami-headline { margin-left: 10px; margin-right: 10px; }

.origami-caption { font-family: Retina, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; color: var(--primary-text-color,#111); line-height: 18.6667px; }

.origami-caption:has(+ .origami-credit) { margin-right: 6px; }

.origami-credit { font-family: Retina, Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 300; color: var(--primary-text-color,#555); line-height: 20px; text-transform: uppercase; }

@media (min-width: 640px) {
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-hide-on-desktop { display: none; }
}

@media (max-width: 639px) {
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-item-wrapper { display: block; margin: 0px; }
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-item { margin-bottom: 10px; }
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-caption { margin-bottom: 2px; }
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-item figcaption { margin-top: 4px; display: block; }
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-grouped-caption { display: none; }
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-grouped-credit { display: none; }
  #origami-44863b36-2a44-4d41-a5de-f0e585e12fd5 .origami-hide-on-mobile { display: none; }
}