@charset "utf-8";

.css-p3gsvd-SubSectionList { display: flex; flex-wrap: wrap; margin: 0px; overflow: hidden; padding: 0px 20px; }

.css-p3gsvd-SubSectionList[data-accordion="true"] { height: 0px; transform: scaleY(0); transform-origin: center top; transition: transform 0.27s; content-visibility: auto; contain-intrinsic-size: auto 200px; }

[data-nav-section-active="true"] .css-p3gsvd-SubSectionList[data-accordion="true"] { height: auto; transform: scaleY(1); }

.css-p3gsvd-SubSectionList > li { box-sizing: border-box; list-style: none; width: 50%; }

.css-p3gsvd-SubSectionList > li:nth-of-type(2n+1) { padding-right: 15px; }

.css-p3gsvd-SubSectionList > li:nth-of-type(2n) { padding-left: 15px; }

.css-p3gsvd-SubSectionList a { color: var(--color-nickel); display: block; line-height: 16px; padding-bottom: 16px; text-decoration: none; }

.css-p3gsvd-SubSectionList a:hover { text-decoration: underline; }

.css-p3gsvd-SubSectionList a:focus { outline-offset: -2px; }

[data-nav-dark="true"] .css-p3gsvd-SubSectionList a { color: rgb(244, 244, 244); }