@charset "utf-8";

.css-15g4ukt { display: flex; height: 100%; -webkit-box-align: center; align-items: center; flex-direction: row; -webkit-box-pack: start; justify-content: flex-start; }

@media screen and (max-width: 639px) {
  .css-15g4ukt { margin-inline-start: 4px; }
}

@media screen and (min-width: 640px) {
  .css-15g4ukt { margin-inline-start: 8px; }
}