@charset "utf-8";

.css-y5o35u-SquareButton { cursor: pointer; border-radius: 2px; }

@media screen and (prefers-reduced-motion: no-preference) {
  .css-y5o35u-SquareButton { transition-property: background-color; transition-duration: 200ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .css-y5o35u-SquareButton { transition-property: background-color; transition-duration: 0ms; transition-timing-function: cubic-bezier(0, 0, 0.5, 1); }
}